body {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Libre Baskerville", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.meme {
    width: 50%;
    margin-left: 25%;
}

img {
    width: 100%;
}